
.Hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .Hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }
 .gradient {
    background: linear-gradient(rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.481) ,rgba(0, 0, 0, 0.398) );
    z-index: -1;
 }
  

