
.Hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .Hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }
 .gradient {
    background: linear-gradient(#0b0f23 10%, rgba(11, 15, 35, 0.489) ,rgba(11, 15, 35, 0.398) );
    z-index: -1;
 }
  

