

.react-international-phone-country-selector-button:hover {
    background-color: #334155; }

.react-international-phone-country-selector-button--hide-dropdown:hover {
    background-color: #FACC15; }

.react-international-phone-country-selector-button__dropdown-arrow {
    border-top: 4px solid #F8FAFC; }

.react-international-phone-country-selector-dropdown {
    background-color: #0F172A;     color: #F8FAFC;     border: 1px solid #FACC15; }

.react-international-phone-country-selector-dropdown__list-item:hover {
    background-color: #1E293B; }

.react-international-phone-country-selector-dropdown__list-item--focused {
    background-color: #2563EB; }

.react-international-phone-dial-code-preview {
    color: #F8FAFC; }

.react-international-phone-dial-code-preview--disabled {
    background-color: #1E293B;     color: #94A3B8; }

.react-international-phone-input-container {
    background-color: #1E293B; }
